<!doctype>
<html>

<head>
    <meta charset="utf-8">
    <!-- css 경로는 public 폴더로 옮김-->
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%= appKey.key%>&libraries=services,clusterer,drawing" ></script>
    <link rel="stylesheet" href="/css/2_trabel.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="front_js/colors.js"></script>
    <script src="front_js/2_trabel.js"></script>

</head>

<body onload="">
    <div id="button">
        <Input id="night_day" type="button" value="DARK" onclick="
          lightDarkHandler(this);
        ">
    </div>

    <div id="title">
        <a href="/">

            <h1>TRABEL</h1>

        </a>
    </div>

    <form action="" onsubmit="">
        <div>
            <input type="text" name="place" class="search_place" id="keyword" value="" placeholder="장소 검색">

            <input type="submit" value="검색" onclick="searchPlaces(); return false;">
        </div>
    </form>

    <div class="main">
        <div id="map"></div>

        <div id="menu_wrap">
            <div id="placesList"></div>
            <div id="pagination"></div>
        </div>

        <div id="preList">
        </div>
        
    </div>
    <div id="moreInfo" style="visibility: hidden">
        <form action="" method="" onKeyDown="if(event.keyCode == 13) {return false;}" onsubmit="Cookie()">
            <div class="range" >
                <input type="range" name="amountRange" class="input_days" min="0" max="240" value="0"
                    oninput="this.form.amountOutput.value=this.value">
                <div class="output">
                    <output name="amountOutput" class="time">0</output> <span>분</span>
                </div>
            </div>
        </form>
        <div class="timeButton">
        <button class="when" active="false" onclick="manageActive(this);">일출</button>
            <button class="when" active="false" onclick="manageActive(this);">아침</button>
            <button class="when" active="false" onclick="manageActive(this);">오전</button>
            <button class="when" active="false" onclick="manageActive(this);">점심</button>
            <button class="when" active="false" onclick="manageActive(this);">오후</button>
            <button class="when" active="false" onclick="manageActive(this);">일몰</button>
            <button class="when" active="false" onclick="manageActive(this);">저녁</button>
            <button class="when" active="false" onclick="manageActive(this);">밤</button>
        </div>

        <button class="submitSeveral" onclick="addOnHtml();">
            선택 완료
        </button>
    </div>


    <div id="submit">
        <a ><button id="setcookie" value="0" onclick="getInfo();">
            제출
        </button></a>

    </div>

    <div id="cookie">
        
    </div>



    <script src="front_js/kakao.js"></script>



</body>

</html>