<!doctype>
<html>

<head>
    <meta charset="utf-8">
    <!-- css 경로는 public 폴더로 옮김-->
    <link rel="stylesheet" href="css/3_trabel.css">
    <link rel="stylesheet" href="css/kakao.css">
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ed99290201dd1375b0f252f3e34ceb2f&libraries=services"></script>
    <script src="front_js/visible.js"></script>
    <script src="front_js/colors.js"></script>

    





</head>

<body>

    <div id="button">
        <Input id="night_day" type="button" value="DARK" onclick="
          lightDarkHandler(this);
        ">
    </div>

    <div id="title">

        <a href="1_trabel.html">

            <h1>TRABEL</h1>

        </a>


    </div>



    <div class="wrap">
        <div class="navbar" id="index_list" value='0'>
            <button class="index btn btn-secondary active">
                <h1 id='1' onclick="setVisible(this);">1일차</h1>
            </button>
            <button class="index btn btn-secondary active">
                <h1 id='2' onclick="setVisible(this);">2일차</h1>
            </button>
            <button class="index btn btn-secondary active">
                <h1 id='3' onclick="setVisible(this);">3일차</h1>
            </button>
            <button class="index btn btn-secondary active">
                <h1 id='4' onclick="setVisible(this);">4일차</h1>
            </button>
            <button class="index btn btn-secondary active">
                <h1 id='5' onclick="setVisible(this);">5일차</h1>
            </button>
        </div>


        <div id="map" style="height:100%;position:relative;overflow:hidden;"></div>


        <div id="menu_wrap" class="bg_white">
            <div class="option">
                <div>
                    <form onsubmit="searchPlaces(); return false;">
                        키워드 : <input type="text" value="이태원 맛집" id="keyword" size="15">
                        <button id="submit" type="submit" value="검색하기">검색하기</button>
                    </form>
                </div>
            </div>
            <hr>
            <ul id="placesList"></ul>
            <div id="pagination"></div>
        </div>
    </div>




    </div>
   



</body>

</html>